In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv("C:/Users/ProBook/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding='latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [9]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [11]:
df.shape

(60943, 12)

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().any()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
Area Code       60943 non-null int64
Area            60943 non-null object
Item Code       60943 non-null int64
Item            60943 non-null object
Element Code    60943 non-null int64
Element         60943 non-null object
Unit            60943 non-null object
Y2014           59354 non-null float64
Y2015           59395 non-null float64
Y2016           59408 non-null float64
Y2017           59437 non-null float64
Y2018           59507 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [26]:
y=df['Y2016']

In [28]:
y.isnull().sum()

1535

In [37]:
df_item=df.groupby("Item")["Y2014"].sum().sort_values(ascending=False)
df_item

Item
Population                  1031585.00
Cereals - Excluding Beer     851924.06
Starchy Roots                792393.91
Cassava and products         405442.57
Sugar Crops                  322467.52
                               ...
Pepper                          137.74
Cloves                           77.37
Fish, Liver Oil                  38.13
Aquatic Animals, Others          14.55
Ricebran Oil                      0.00
Name: Y2014, Length: 119, dtype: float64

In [38]:
df_item2=df.groupby("Item")["Y2016"].sum().sort_values(ascending=False)
df_item2

Item
Population                  1085107.00
Cereals - Excluding Beer     875974.56
Starchy Roots                823223.18
Cassava and products         415730.20
Sugar Crops                  314772.13
                               ...
Pepper                          147.84
Cloves                           78.27
Fish, Liver Oil                  15.87
Aquatic Animals, Others           6.17
Ricebran Oil                      0.00
Name: Y2016, Length: 119, dtype: float64

In [43]:
df['Area'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "CÃ´te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [46]:
df_item=df.groupby("Item")["Y2014"].sum().sort_values(ascending=False)
df_item6

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [56]:
df_algeria=df[(df.Area=='Algeria')]
df_algeria.groupby('Element')['Y2018'].sum().sort_values(ascending=False)

Element
Domestic supply quantity                  90023.42
Food                                      63736.33
Production                                60766.67
Total Population - Both sexes             42228.00
Import Quantity                           36238.29
Food supply (kcal/capita/day)             13288.00
Feed                                      10668.00
Losses                                     7708.00
Stock Variation                            6172.00
Other uses (non-food)                      3970.08
Processing                                 2479.00
Food supply quantity (kg/capita/yr)        1509.28
Seed                                        825.00
Export Quantity                             811.54
Residuals                                   630.00
Protein supply quantity (g/capita/day)      367.28
Fat supply quantity (g/capita/day)          309.09
Name: Y2018, dtype: float64

In [59]:

df_2014=df.groupby('Element')['Y2014'].sum().sort_values(ascending=False)
df_2014

Element
Domestic supply quantity                  1996716.35
Production                                1931287.75
Food                                      1212332.49
Total Population - Both sexes             1031585.00
Food supply (kcal/capita/day)              454257.00
Processing                                 282923.00
Import Quantity                            274144.48
Feed                                       216927.89
Losses                                     153223.00
Export Quantity                            150020.64
Other uses (non-food)                       78718.13
Stock Variation                             58749.83
Food supply quantity (kg/capita/yr)         49650.63
Residuals                                   30149.00
Seed                                        21922.92
Protein supply quantity (g/capita/day)      11836.46
Fat supply quantity (g/capita/day)          10225.56
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [66]:
import_quantity4=df.groupby('Element')['Y2014'].sum().sort_values(ascending=False)
import_quantity4

Element
Domestic supply quantity                  1996716.35
Production                                1931287.75
Food                                      1212332.49
Total Population - Both sexes             1031585.00
Food supply (kcal/capita/day)              454257.00
Processing                                 282923.00
Import Quantity                            274144.48
Feed                                       216927.89
Losses                                     153223.00
Export Quantity                            150020.64
Other uses (non-food)                       78718.13
Stock Variation                             58749.83
Food supply quantity (kg/capita/yr)         49650.63
Residuals                                   30149.00
Seed                                        21922.92
Protein supply quantity (g/capita/day)      11836.46
Fat supply quantity (g/capita/day)          10225.56
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [67]:
import_quantity6=df.groupby('Element')['Y2016'].sum().sort_values(ascending=False)
import_quantity6

Element
Domestic supply quantity                  2044842.70
Production                                1943537.15
Food                                      1247022.17
Total Population - Both sexes             1085107.00
Food supply (kcal/capita/day)              451810.00
Import Quantity                            286582.78
Processing                                 280631.00
Feed                                       228958.65
Losses                                     157787.00
Export Quantity                            151920.46
Other uses (non-food)                       69563.68
Food supply quantity (kg/capita/yr)         48985.28
Residuals                                   37224.00
Stock Variation                             33140.12
Seed                                        23389.20
Protein supply quantity (g/capita/day)      11779.69
Fat supply quantity (g/capita/day)          10102.77
Tourist consumption                            89.00
Name: Y2016, dtype: float64

In [68]:
import_quantity7=df.groupby('Element')['Y2017'].sum().sort_values(ascending=False)
import_quantity7

Element
Domestic supply quantity                  2088198.10
Production                                2030056.89
Food                                      1258888.28
Total Population - Both sexes             1112641.00
Food supply (kcal/capita/day)              454681.00
Import Quantity                            294559.09
Processing                                 292836.00
Feed                                       223705.68
Export Quantity                            182338.80
Losses                                     160614.00
Other uses (non-food)                       91645.97
Stock Variation                             54316.91
Food supply quantity (kg/capita/yr)         48690.04
Residuals                                   35500.00
Seed                                        24870.14
Protein supply quantity (g/capita/day)      11842.45
Fat supply quantity (g/capita/day)          10253.84
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [69]:
import_quantity8=df.groupby('Element')['Y2018'].sum().sort_values(ascending=False)
import_quantity8

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64